extends layout_prodadd
block content
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://unicons.iconscout.com/release/v4.0.0/css/line.css')
  link(rel='stylesheet' href='css/ufregistration.css')
  title UFarm Product Add 
  .container
    header.heading Add Produce
    hr
    form(action='/addproduceroute' method='post' enctype='multipart/form-data' onload='return multiply();' onsubmit='return formValidateAddProd(event);')
      .form.first
        .details.personal
          .fields
            .input-field
              label Unique ID
              select#uniqueid(type='text' name='uniqueid')
                if currentUser
                  option(value=currentUser.uniqueid) #{currentUser.uniqueid}
              small#uniqueidError
            .input-field
              label Supplier Name
              select#fullname(type='text' name='fullname')
                if currentUser
                  option(value=currentUser.fullname) #{currentUser.fullname}
              small#fullNameError
            .input-field
              label Date of Upload
              input#doreg(type='date' name='doreg' max='2022-11-22' placeholder='Date of upload')
              small#doregError
            .input-field
              label Home Address
              select#address(type='text' name='address')
                if currentUser
                  option(value=currentUser.ward) #{currentUser.ward}
              small#addressError
            .input-field
              label(for='productcategory') Product Category :
                      select#productcategory(name='productcategory' placeholder="Product Category")
                          if currentUser
                            option(value=currentUser.activity) #{currentUser.activity}
                      small#prodCatError
            .input-field
              label(for='productname') Product:
                      select#productname(name='productname')
                          option(value='') Product 
                          option(value="Chicken") Chicken 
                          option(value="Eggs") Eggs 
                          option(value="Chicks") Chicks
                          option(value="Dressed Chicken") Dressed Chicken 
                          option(value="Drum Sticks") Drum Sticks
                          option(value="Gizzard") Gizzard
                          option(value="Beans") Beans 
                          option(value="Maize") Maize 
                          option(value="Tomatoes") Tomatoes
                          option(value="Cabbage") Cabbage
                          option(value="Sweet Pepper") Sweetpepper 
                          option(value="Okra") Okra
                          option(value="Milk") Milk
                          option(value="Calves") Calves
                          option(value="Ghee") Ghee
                          option(value="Cheese") Cheese
                          option(value="Yoghurt") Yoghurt
                          option(value="Heifers") Heifers
                      small#productError
        .details.ID
          .fields
            .input-field
              label Quantity
              input#quantity(class='form-control' type='number' name='quantity' value='0' onchange='multiply();' )
              small#quantityError
            .input-field
              label Unit Price
              input#unitprice(class='form-control' type='number' name='unitprice' value='0' onchange='multiply();' )
              small#unitPriceError
            .input-field
              label Total Amount
              input#totalamount(class='form-control' type='number' name='totalamount' value='totalamount')
              small#totalAmountError
            .input-field
              label 
              select#producttype(type='text' name='producttype')
                option(value='') Product type
                option(value='Organic') Organic
                option(value='Non-organic') Non Organic
              small#productTypeError
            .input-field
              label 
              select#modeofpay(type='text' name='modeofpay')
                option(value='') Mode of payment
                option(value='Cash') Cash
                option(value='Mobile money') Mobile Money
              small#modePayError
            .input-field
              label 
              select#deliverymode(type='text' name='deliverymode')
                option(value='') Mode of delivery
                option(value='Pickup') Pickup
                option(value='Home delivery') Home Delivery
              small#modeDelError
            .input-field
              label Phone Number 
              select#phone(type='text' name='phone')
                if currentUser
                  option(value=currentUser.phone) #{currentUser.phone}
              small#phoneNumberError
            .input-field
              label Ward 
              select#ward(type='text' name='ward')
                if currentUser
                  option(value=currentUser.ward) #{currentUser.ward}
              small#wardError
              //- These are hidden customer fields needed when ordering produce.
              input(type='hidden' name='customeremail')
              input(type='hidden' name='customerphone')
            
            .input-field 
              label Produce Image:
              input#image(type='file' name='uploadimage' autocomplete='off')        
          .button
            input#btnSubmit(type='submit' value='Add Produce')
  script(src="/JS/calculator.js") 
  script(src="/JS/form_validateprodadd.js") 

