doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://unicons.iconscout.com/release/v4.0.0/css/line.css')
  link(rel='stylesheet' href='css/pdtupdate.css')
  title UFarm Product Add
.container
  header.heading Product Add
  hr
  form(action='/addproduceroute' method='post' enctype='multipart/form-data')
    .form.first
      .details.personal
        .fields
          .input-field
            label Unique ID
            select(type='text' name='uniqueid')
              if currentUser
                option(value=currentUser.uniqueid) #{currentUser.uniqueid}
          .input-field
            label Supplier Name
            select(type='text' name='fullname')
              if currentUser
                option(value=currentUser.fullname) #{currentUser.fullname}
          .input-field
            label Date of Upload
            input(type='date' name='doreg' placeholder='Date of upload')
          .input-field
            label Home Address
            select(type='text' name='address')
              if currentUser
                option(value=currentUser.ward) #{currentUser.ward}
          .input-field
            label(for='productcategory') Product Category :
                    select(name='productcategory' placeholder="Product Category")
                        if currentUser
                          option(value=currentUser.activity) #{currentUser.activity}
          .input-field
            label(for='productname') Product:
                    select(name='productname')
                        option(value="Chicken") Chicken 
                        option(value="Eggs") Eggs 
                        option(value="Chicks") Chicks
                        option(value="Dressedchicken") Dressed Chicken 
                        option(value="Drumsticks") Drum Sticks
                        option(value="Gizzard") Gizzard
                        option(value="Beans") Beans 
                        option(value="Maize") Maize 
                        option(value="Tomatoes") Tomatoes
                        option(value="Cabbage") Cabbage
                        option(value="Sweetpepper") Sweetpepper 
                        option(value="Okra") Okra
                        option(value="Milk") Milk
                        option(value="Calves") Calves
                        option(value="Ghee") Ghee
                        option(value="Cheese") Cheese
                        option(value="Yoghurt") Yoghurt
                        option(value="Heifers") Heifers
      .details.ID
        .fields
          .input-field
            label Quantity
            input(type='number' name='quantity' placeholder='Quantity')
          .input-field
            label Unit Price
            input(type='number' name='unitprice' placeholder='Unit price')
          .input-field
            label Total Amount
            input(type='number' name='totalamount' placeholder='Total amount')
          .input-field
            label Product Type
            select(type='text' name='producttype')
              option(value='') Product type
              option(value='Organic') Organic
              option(value='Non-organic') Non Organic
          .input-field
            label Mode of Payment
            select(type='text' name='modeofpay')
              option(value='') Mode of payment
              option(value='Cash') Cash
              option(value='Mobile money') Mobile Money
          .input-field
            label Mode of Delivery
            select(type='text' name='deliverymode')
              option(value='') Mode of delivery
              option(value='Pickup') Pickup
              option(value='Home delivery') Home Delivery
          .input-field
            label Ward 
            select(type='text' name='ward')
              if currentUser
                option(value=currentUser.ward) #{currentUser.ward}  
          .input-field 
            label Produce Image:
            input#image(type='file' name='uploadimage' autocomplete='off')        
        .button
          input#btnSubmit(type='submit' value='Add Produce')

