extends layoutlists 
block content
    header.card-header
        h4.card-title List of Booked  Products - #{currentUser.ward}.
        form(method="post" action='/logout') 
           button.btn.btn-success.btn-block(type="submit") Log out 
    br
    nav
    #nav-tab.nav.nav-tabs(role='tablist')
        a#nav-profile-tab.nav-item.nav-link(href='/producelist') 
    #nav-tabContent.tab-content
    br
    table.table.table-bordered 
        thead
            tr
                th Produce Name
                th Quantity
                th Unit Price
                th Total Amount
                th Product Type
                th Customer Email
                th Customer Phone
                th Image 
                th Change Availability 
        tbody
            if orders.length
                each order  in orders 
                    if order.availability =='booked' && order.ward === currentUser.ward 
                        tr
                            td #{order.productname}
                            td #{order.quantity}
                            td #{order.unitprice}
                            td #{order.totalamount}
                            td #{order.producttype}
                            td #{order.customeremail}
                            td #{order.customerphone}
                            td 
                                img(src="/"+order.uploadimage, alt="Image" width='150px' height="150px")
                            td
                                a.btn.btn-success.btn-block(href='/produce/available/'+order._id) Booked
                            
    div.col.form-group
    a.btn.btn-success.btn-block(class='button' href='/FO_reports') Back 
block footer
    div.col-md-12 
