extends layout
block content
    header.card-header
        h4.card-title List of Farmer ones
    br
    nav
    #nav-tab.nav.nav-tabs(role='tablist')
        a#nav-profile-tab.nav-item.nav-link(href='/foregister') Update FarmerOne
    #nav-tabContent.tab-content
    br
    table.table.table-bordered 
        thead
            tr
                th Unique ID  
                th Full Name 
                th NIN
                th Phone number
                th Ward
                th Update
        tbody
            if farmerones.length
                each farmerone in farmerones
                    tr
                        td #{farmerone.uniqueid}
                        td #{farmerone.fullname}
                        td #{farmerone.nin}
                        td #{farmerone.phone}
                        td #{farmerone.ward}
                        td
                            a
                                button.btn.btn-primary.btn-block(href='/farmerOne/update/'+farmerone._id) Update
                        //- td
                        //-     form(method="post" action='/farmerOne/delete')
                        //-         input(type="hidden", placeholder="", name="id", value=farmerone._id)
                        //-         button.btn.btn-danger.btn-block(type="submit") Delete
    div.form-row
        div.col.form-group
            a.btn-info(class='button' href='/aodashboardroute') Back
    
block footer
    div.col-md-12 © UFARM Project 2022 - Mark Mugisha.