doctype html
head
    title Urban Farmer Update
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT' crossorigin='anonymous')
    link(rel='stylesheet' href='css/dashboard.css')
    link(rel='icon' href='Img/favicon.png')
body
    style.
        body{
          background: #0d5032;  
        }
        
        .form-style{
        position:absolute;
        top:5%;  
        text-align:center;
        color:rgba(240, 220, 253);
        }
       
      label {
        display: inline-block;
        width: 150px;
        text-align: right;
        font-weight:500; 
      }
        .form-field input, select{
            text-align:left;
            background: #fff;
            font-weight: 400;
            margin:20px;
            width: 300px;
            height: 60px;
            border-radius: 10px;
        }

        .form-btn{
            margin-top:40px;
            margin-left:12px;
            padding:25px;
        }

        .btn{
            width:300px;
            background: grey;
            padding-top:18px;
            padding-bottom:18px;
            font-size:18px;
            font-weight:500;
            margin-left:120px;
            border-radius: 20px;
            font:#fff; 
        }
        .btn:hover{
           box-shadow:0 0 6px 5px rgb(0,0,0,0.87); 
        }
    .container-fluid.form-style
        form.form(action='/urbanFarmer/update?id='+urbanFarmers._id name='registration' method='POST')
            h3 URBAN FARMER UPDATE
            hr
            .row
                .col-lg-4
                    .form-field
                        label Unique ID.
                        input(type='text' name='uniqueid' autocomplete='off' value=urbanFarmers.uniqueid)
                .col-lg-4
                    .form-field
                        label Role
                        input(type='text' name='role' autocomplete='off' value=urbanFarmers.role)
                .col-lg-4
                    .form-field
                        label First and Last Name
                        input(type='text' name='fullname' autocomplete='off' value=urbanFarmers.fullname)
                .col-lg-4
                    .form-field
                        label NIN
                        input(type='text' name='nin' autocomplete='off' value=urbanFarmers.nin)
                .col-lg-4
                    .form-field
                        label Date of Birth
                        input(type='date' name='dob' autocomplete='off' value=urbanFarmers.dob)
                .col-lg-4
                    .form-field
                        label Date of Registration
                        input(type='date' name='doreg' autocomplete='off' value=urbanFarmers.doreg)
                .col-lg-4
                    .form-field
                        label Phone number
                        input(type='text' name='phone' autocomplete='off' value=urbanFarmers.phone)
                .col-lg-4
                    .form-field
                        label Password
                        input(type='password' name='password' autocomplete='off' value=urbanFarmers.password)
                .col-lg-4
                    .form-field
                        label Gender
                        select(name='gender')
                            option(value='Male' selected = urbanFarmers.gender === 'Male') Male
                            option(value= 'Female' selected = urbanFarmers.gender === 'Female') Female 
                .col-lg-4
                    .form-field
                        label Activity
                        select(name='activity')
                            option(value="Horticulture" selected = urbanFarmers.activity === 'Horticulture') Horticulture
                            option(value="Poultry" selected = urbanFarmers.activity === 'Poultry') Poultry 
                            option(value="Diary" selected = urbanFarmers.activity === 'Diary') Diary   
                .form-btn
                    button.btn(class='button' type='submit') Update 